<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resoltz-API Admin</title>
  </head>
  <div id="nav-buttons" class="row">
    <header>
        <a class="btn btn-primary btn-md" href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
        <a class="btn btn-primary btn-md" href="/measurements"> Measurements </a>
        <a class="btn btn-primary btn-md" href="/user_details"> User Details </a>
        <a class="btn btn-primary btn-md" href="/user_school_data"> User School Data </a>
      </header>
    </div>
    <br>
    <div id="search" class="container">
          <form class="" action="index.html" method="post">
            <input type="text" name="" value="">
            <button type="submit" name="button" onclick="search()"> Search <span class="glyphicon glyphicon-search"></span></button>
          </form>
  </div>
    <br>
    <div class="row">
      <div id="left" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">

      </div>
      <div id="content" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        {{{body}}}
      </div>
      <div id="right" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">

      </div>

    </div>
    <footer>
      <p>Resoltz-API</p>
    </footer>
  </container>
</html>
